.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 139, 236, 0.161);
  height: 580px;
  border-radius: 10px;
  padding: 20px;
}
header {
  margin: 60px;
}
.ppandform{
  display: flex;
  flex-direction: row-reverse;
}
.pointspositifs{
  padding-left: 32px;

}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-right: 10px;
  font-size: 20px;

}
.eligib{
  font-size: 28px;
}
.form-group input {
  width:290px;
  margin-top: 6px;
display: flex;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 26px;
}

button {
  padding: 15px 118px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #45a049;
}
